@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app_header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container{
  border: 0;
  max-width: 400px;
  min-width: 400px;
  min-height: 300px;
  border-radius: 15px;
  background-color: #6c7c89;
  padding: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.App-name{
  color: #282c34;
}
.sub-text{
  font-size: 13px;
  letter-spacing: 2px;
}
i{
  font-size: 12px;
}

.coin-name-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.coin-input-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.coin-name-layout, .coin-holding-layout, .holder-email-layout, .coin-threshold-layout, .code-authenticator-layout, .coin-price-layout{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0 0 0;
  gap: 8px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.coin-name, #holdings, #user-email, #user-password, #user-confirm-pass, #up-threshold, #down-threshold, #code-input{
  width: 100%;
  padding: 8px;
  border: 0;
  border-radius: 7px;
  outline: none;
  caret-color: #282c34;
  /*background-color: #6c7c89;*/
  font-family: monospace;
  color: #282c34;
}
::placeholder{
    font-family: "Montserrat Alternates", sans-serif;
  }
 button{
  padding: 6px 12px;
  border-radius: 7px;
  outline: none;
  background-color: #282c34;
  color: azure;
  border: none;
}
 button:hover{
   background-color: azure;
   color: #282c34;
 }
.price-update {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /*line-height: 20px;*/
}
.price-update .price-alert{
  font-size: 20px;
  line-height: 30px;
}

 .label-holding-coin, .label-email, .label-password, .label-confirm-pass, .label-threshold-up , .label-threshold-down, .threshold-info, .code-label, .code-info{
   width: 100%;
   text-align: start;
  font-size: 12px;
  line-height: 17px;
}

 input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
   -webkit-appearance: none;
   display: none;
 }

 .resend-code{
   font-size: 12px;
   color: #0200ff;
   cursor: pointer;
 }
 .resend-code:hover{
   color: #d8450f;
 }

.btn-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}